In [8]:
# Magic
%matplotlib inline

# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statistics as st

In [9]:
# Load in csv
pyber_ride_df = pd.read_csv("Resources/PyBer_ride_data.csv")
pyber_ride_df

    Month  Avg. Fare ($USD)
0     Jan             10.02
1     Feb             23.24
2     Mar             39.20
3   April             35.42
4     May             32.34
5    June             27.04
6    July             43.82
7     Aug             10.56
8    Sept             11.85
9     Oct             27.90
10    Nov             20.71
11    Dec             20.09

In [2]:
# Merge your DataFrames.

In [3]:
# Create a bubble chart that showcases the average fare versus the total number of rides with bubble size 
# based on the total number of drivers for each city type, including urban, suburban, and rural.

In [4]:
#Determine the mean, median, and mode for the following:
#The total number of rides for each city type.
#The average fares for each city type.
#The total number of drivers for each city type.

In [5]:
#Create box-and-whisker plots that visualize each of the following to determine if there are any outliers:
##The number of rides for each city type.
##The fares for each city type.
##The number of drivers for each city type.

In [6]:
#Create a pie chart that visualizes each of the following data for each city type:
##The percent of total fares.
##The percent of total rides.
##The percent of total drivers.